services:
  app:
    image: ghcr.io/techmee-digital/email-verification:prod
    container_name: valid8-web
    command:
      - gunicorn
      - -w
      - "4"
      - -b
      - 0.0.0.0:5000
      - factory:create_app()
    env_file:
      - .env
    volumes:
      - uploads_data:/app/uploads
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "127.0.0.1:5000:5000"
    restart: unless-stopped
    networks:
      - default

  celery:
    image: ghcr.io/techmee-digital/email-verification:prod
    container_name: valid8-celery
    command: celery -A run_celery.celery worker --concurrency=4 --loglevel=info
    env_file:
      - .env
    volumes:
      - uploads_data:/app/uploads
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped
    networks:
      - default

  redis:
    image: redis:alpine
    container_name: valid8-redis
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - default

  db:
    image: mysql:8
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - default
      - mysql

volumes:
  db_data:
  redis_data:
  uploads_data:

networks:
  default:
  mysql:
    external: true
