@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  --primary-color: #4CAF50;
  --primary-dark: #388E3C;
  --secondary-color: #333;
  --light-bg: #f4f4f4;
  --white: #ffffff;
  --font-family: 'Poppins', sans-serif;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --transition-speed: 0.3s;
  --sidebar-width: 260px;
  --sidebar-width-collapsed: 70px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
  background-color: var(--light-bg);
}

.app-container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  }

.main-container {
  flex: 1;
  min-height: 100vh;
  background-color: var(--light-bg);
  transition: margin-left var(--transition-speed) ease;
}

.content {
  padding: 30px;
  overflow-y: auto;
}

/* Alert Messages */
.alert {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  transition: opacity 0.3s ease;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: var(--primary-dark);
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

/* BUtton */
.btn {
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

.primary-btn {
  background-color: var(--primary-color);
  color: white;
}

.primary-btn:hover {
  background-color: var(--primary-dark);
}

.secondary-btn {
  background-color: #f44336;
  color: white;
}

.secondary-btn:hover {
  background-color: #d32f2f;
}


/* Loading Overlay Style */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px); 
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.loading-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Loading Animation Style */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgbox {
  --blue: rgb(148, 66, 63);
  stroke: var(--blue);
  stroke-width: 5;
  fill: none;
  stroke-dasharray: 50, 14;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 1;
  }
  to {
    stroke-dashoffset: 1;
  }
}

/* Responsive adjustments */
@media (max-width: 1000px) {
  body.sidebar-expanded .main-container {
    margin-left: var(--sidebar-width);
  }
  
  .content {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 15px;
  }
  
  .card {
    padding: 15px;
  }
}