/* global.css */

:root {
  --primary-color: #4CAF50;
  --primary-dark: #388E3C;
  --secondary-color: #333;
  --light-bg: #f4f4f4;
  --white: #ffffff;
  --font-family: 'Nunito', sans-serif;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --transition-speed: 0.3s;
  --sidebar-width: 330px;
  --sidebar-width-collapsed: 70px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  color: #333;
  font-family: 'Nunito', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar.collapsed {
  width: var(--sidebar-width-collapsed);
}

.sidebar.collapsed .menu-text {
  display: none;
}

.app-container {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100vh;

}

/* ======= Main Container ======= */
.main-container {
  flex: 1;
  /* margin-left: var(--sidebar-width); */
  transition: margin-left var(--transition-speed) ease;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: black;
}

/* ======= Content Area ======= */
.content {
  flex: 1;
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  color: var(--secondary-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* Buttons */
.btn {
  background-color: #66b933;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #57a82a;
  transform: translateY(-2px);
} 

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Alert Messages */
.alert {
  padding: 15px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  transition: opacity 0.3s ease;
}

.d-none {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 1000px) {
  
  body.sidebar-expanded .sidebar {
    width: var(--sidebar-width);
  }
  
  body.sidebar-expanded .sidebar .menu-text {
    display: inline;
  }
}