body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Positioned behind the container */
}

.container {
    max-width: 450px !important; /* Increased width */
    width: 100%;
    padding: 2rem;
    background-color: #1c1c1c !important; /* Original background color */
    border-radius: 15px !important;
    border: 1px solid #66B933;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo {
    width: 65%;
    height: auto;
    margin-bottom: 1.5rem;
}

a {
    color: #66B933;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-size: 0.9rem;
}

a:hover {
    color: #3E701F;
    text-decoration: underline;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
    color: #ffffff;
    text-align: left;
}

.input-row {
    margin-bottom: 1rem;
}

input.form-control {
    padding: 0.75rem;
    border: 1px solid #4a4a4a;
    border-radius: 0.5rem;
    background-color: #2b2b2b;
    color: #ffffff;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

input.form-control:focus {
    outline: none;
    border-color: #66B933;
    background-color: #f3eeee;
}

.Sbutton {
    padding: 0.75rem;
    background-color: #66B933;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.Sbutton:disabled {
    background-color: #5a5a5a;
    cursor: not-allowed;
}

.Sbutton:hover:enabled {
    background-color: #3E701F;
}

/* Styles for "or else" section */
.or-else-container {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    color: #ffffff;
    font-size: 0.875rem;
}

.or-else-container .line {
    flex-grow: 1;
    height: 1px;
    background-color: #ffffff;
}

/* Google button styles */
.google-button {
    padding: 0.75rem;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #4a4a4a;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

.google-button:hover {
    background-color: #c1c1c1;
}

.google-logo {
    width: 1.25rem;
    height: 1.25rem;
}

.signup-text,
.forgot-password {
    font-size: 0.875rem;
    color: #ffffff;
}

.signup-text a,
.forgot-password a {
    color: #66B933;
}

.signup-text a:hover,
.forgot-password a:hover {
    color: #3E701F;
}

#message-container {
    color: #B93333;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}
