body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; 
}

.container {
    max-width: 375px !important; 
    width: 100%;
    padding: 30px;
    background-color: #1c1c1c !important; 
    border-radius: 15px !important;
    border: 1px solid #66B933;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo {
    width: 23%;
    height: auto;
    margin-bottom: 5px;
}

h2 {
    color: #ffffff;
    margin-bottom: 24px; 
    font-size: 26px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: left;
    color: #ffffff;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2b2b2b;
    color: #ffffff;
    box-sizing: border-box;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    border-color: #66B933;
    background-color: #3a3a3a;
}

button {
    width: 100%;
    padding: 10px; 
    background-color: #66B933;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 25px;
}

button:disabled {
    background-color: #5a5a5a;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #3E701F;
}

.checklist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px; 
    margin-bottom: 5px; 
    padding-left: 25px; 
}

.checklist-item {
    display: flex;
    align-items: center;
    font-size: 12px; 
    margin: 2px 0;
    color: #ffffff;
}

.checklist-item .check-icon {
    width: 15px; 
    height: 15px;
    margin-right: 12px;
}

/* Icon styling for validity */
.checklist-item.invalid .check-icon {
    background-color: #B93333;
    mask: url('/static/images/cross-icon.svg') no-repeat center;
    mask-size: contain;
}

.checklist-item.valid .check-icon {
    background-color: #66B933;
    mask: url('/static/images/check-icon.svg') no-repeat center;
    mask-size: contain;
}

a {
    color: #66B933;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-size: 16px; 
}

a:hover {
    color: #3E701F;
    text-decoration: underline;
}

.requirements-message {
    color: #dc3545;
    font-size: 15px; 
    margin-top: 12px;
    display: none;
}

#message-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    display: none; 
}

.back-to-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 0; 
    font-size: 1rem;
}

.back-to-login img {
    width: 30px; 
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}

.back-to-login a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.back-to-login a:hover {
    color: #dfdfdf; 
    text-decoration: underline;
}