body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Positioned behind the container */
}

.container {
    max-width: 450px !important; /* Increased width */
    width: 100%;
    padding: 2rem;
    background-color: #1c1c1c !important; /* Original background color */
    border-radius: 15px !important;
    border: 1px solid #66B933;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
    z-index: 1;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

a {
    color: #66B933;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-size: 15px;
}

a:hover {
    color: #3E701F;
    text-decoration: underline;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: auto;
    text-align: left;
    color: #ffffff;
}

.input-row {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
}

.input-row div {
    flex: 1;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2b2b2b;
    color: #ffffff;
    box-sizing: border-box;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin-bottom: 5px;
}

input:focus {
    outline: none;
    border-color: #66B933;
    background-color: #3a3a3a;
}

button {
    padding: 10px;
    background-color: #66B933;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 10px 0 15px;
    width: 100%;
}

button:disabled {
    background-color: #5a5a5a;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #3E701F;
}

.checklist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px; /* Increased spacing */
    margin-bottom: 5px; /* Increased spacing */
    padding-left: 25px; /* Increased padding */
}

.checklist-item {
    display: flex;
    align-items: center;
    font-size: 12px; /* Slightly larger font */
    margin: 2px 0;
    color: #ffffff;
}

.checklist-item .check-icon {
    width: 15px; /* Slightly larger icon */
    height: 15px;
    margin-right: 12px;
}

/* Icon styling for validity */
.checklist-item.invalid .check-icon {
    background-color: #B93333;
    mask: url('/static/images/cross-icon.svg') no-repeat center;
    mask-size: contain;
}

.checklist-item.valid .check-icon {
    background-color: #66B933;
    mask: url('/static/images/check-icon.svg') no-repeat center;
    mask-size: contain;
}

a {
    color: #66B933;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-size: 16px; /* Slightly larger font */
}

a:hover {
    color: #3E701F;
    text-decoration: underline;
}

.requirements-message {
    color: #dc3545;
    font-size: 15px; /* Slightly larger font */
    margin-top: 12px;
    display: none;
}

#message-container {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.logo {
    width: 55%;
    height: auto;
    margin-bottom: 1.5rem;
}

p {
    color: #ffffff;
}
