<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Email Verification Tool{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/global.css">

    {% block extra_head %}{% endblock %}
</head>
<body>
    <aside class="sidebar" id="sidebar">
        <nav>
            <ul>
                <li>
                    <a href="/home" data-title="logo">
                        <img src="/static/images/logo.png" alt="Logo">
                    </a>
                </li>
                <li>
                    <a href="/home" data-title="home">
                        <img src="/static/images/profile-icon.png" alt="Profile Icon" />
                        Home
                    </a>
                </li>
                <li>
                    <a href="/verify" data-title="Manual Check">
                        <img src="/static/images/manual-icon.svg" alt="Manual Check Icon" />
                        Manual Check
                    </a>
                </li>
                <li>
                    <a href="/list" data-title="CSV Check">
                        <img src="/static/images/csv-icon.svg" alt="CSV Check Icon" />
                        CSV Check
                    </a>
                </li>
                <!-- <li>
                    <a href="/apis" data-title="APIs">
                        <img src="/static/images/profile-icon.png" alt="Profile Icon" />
                        APIs
                    </a>
                </li>
                <li>
                    <a href="/profile" data-title="Profile">
                        <img src="/static/images/profile-icon.png" alt="Profile Icon" />
                        Dummy Guide
                    </a>
                </li> -->
                <li>
                    <a href="/profile" data-title="Profile">
                        <img src="/static/images/profile-icon.png" alt="Profile Icon" />
                        Settings
                    </a>
                </li>
                <li>
                    <a class="logout" href="/logout" data-title="Logout">
                        <img src="/static/images/logout-icon.svg" alt="Logout Icon" />
                        Logout
                    </a>
                </li>               
            </ul>
        </nav>
    </aside>


    <!-- Main Content -->
     <div class="main-container">
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
     </div>
    
    <div id="message-container" class="alert d-none" role="alert"></div>
    <script src="/static/js/singleverify.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/home.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
