<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/signin.js"></script>
    <style>
        #message-container {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1000;
            padding: 10px;
            border-radius: 5px;
            min-width: 200px;
            display: none; /* Hide by default */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <h2>Manual Sign-In</h2>
        <form id="manual-signin-form">
            <input type="hidden" name="next" value="{{ request.args.get('next') }}">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button class="Sbutton" type="submit">Sign In</button>
        </form>
        <div id="error-message"></div><br>

        <!-- Horizontal line and text "or else" -->
        <div class="or-else-container">
            <hr class="line">
            <span>or else</span>
            <hr class="line">
        </div>

        <!-- Sign in with Google button -->
        <button class="google-button" onclick="window.location.href='/google';">
            <img src="/static/images/google-icon.svg" alt="Google Logo" class="google-logo">
            Sign In with Google
        </button>        

        <!-- Sign up and forgot password links -->
        <p class="signup-text">
            Don't have an account? <a href="/signup">Sign Up!</a>
        </p>
        <p class="forgot-password">
            <a href="/password">Forgot Password</a>
        </p>
    </div>
    <div id="message-container" class="alert d-none"></div>
</body>
</html>
