<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- For responsiveness -->
    <title>Sign In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/signin.js"></script>
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="background-image"></div>
    <div class="container bg-dark text-white p-4 rounded-lg shadow-lg" style="max-width: 400px;">
        <div class="text-center">
            <img src="/static/images/logo.png" alt="Logo" class="logo img-fluid mb-4">
        </div>
        <form id="manual-signin-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="example@gmail.com">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="*********">
            </div>
            <button class="Sbutton btn btn-success btn-block mt-3" type="submit">Sign In</button>
        </form>
        <div id="message-container" class="alert d-none"></div>

        <div class="or-else-container d-flex align-items-center my-3">
            <hr class="custom-hr flex-grow-1">
            <span class="px-2">or</span>
            <hr class="custom-hr flex-grow-1">
        </div>        

        <button class="google-button btn btn-outline-secondary btn-block mb-2" onclick="window.location.href='/google';">
            <img src="/static/images/google-icon.svg" alt="Google Logo" class="google-logo"> Sign In with Google
        </button>

        <p class="signup-text text-center mt-3">
            Don't have an account? <a href="/signup" class="text-success">Sign Up!</a>
        </p>
        <p class="forgot-password text-center">
            <a href="/password" class="text-success">Forgot Password</a>
        </p>
    </div>
    
</body>
</html>
