<html>
    <head>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <form id="passwrdForm">
            <div class="mb-3">
                <label for="emailAddress" class="form-label">Enter Email Address</label>
                <input class="form-control" type="email" id="emailAddress" name="emailAddress" required>
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
        <div id="result"></div>  <!-- Div to display the result -->
        
        <script src="/static/js/loademail.js"></script>
    </body>
</html>