{% extends "base.html" %}

{% block title %}Settings{% endblock %}

    {% block content %}
    <div class="container">
        <h2>Edit Profile</h2>
        <form>
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required><br>

            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required><br>

            <!-- Password fields, hidden if user is Google login -->
            <div id="passwordFields" style="display: none;">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter a new password"><br>

                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm the password"><br>
            </div>

            <button type="submit">Save Changes</button>
        </form>
    </div>
        <div id="message-container" class="alert" role="alert"></div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const isGoogleLogin = JSON.parse("{{ is_google_login | tojson }}");

        if (!isGoogleLogin) {
            document.getElementById('passwordFields').style.display = 'block';
        }
    });

    function validateForm(event) {
                // Get the password and confirm password values
                const password = document.getElementById('password').value;
                const confirmPassword = document.getElementById('confirm_password').value;
    
                // Regular expression for a strong password: 
                // At least 8 characters, at least one uppercase letter, one lowercase letter, one number, and one special character
                const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
    
                // Check if passwords match
                if (password !== confirmPassword) {
                    event.preventDefault();
                    alert('Passwords do not match. Please try again.');
                    return;
                }
    
                // Check if password is strong
                if (!passwordPattern.test(password)) {
                    event.preventDefault();
                    alert('Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character.');
                    return;
                }
            }
    </script>
    {% endblock %}
