<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/css/passvalidation.css">
    <script src="/static/js/passworddValidation.js"></script>
    <script src="/static/js/reset_password.js"></script>
</head>
<body>
    <div class="background-image"></div>
    <div class="container">
        <div class="text-center">
            <img src="/static/images/reset-icon.svg" alt="Logo" class="logo img-fluid mb-4">
        </div>    
        <h2>Reset Your Password</h2>
        <form method="POST" id="form" onsubmit="validateForm(event)">
            <input type="hidden" name="token" value="{{ token }}">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="*********" required>

            <!-- Password strength checklist -->
            <div class="checklist">
                <div id="length" class="checklist-item invalid">
                    <div class="check-icon"></div>
                    At least 8 characters
                </div>
                <div id="uppercase" class="checklist-item invalid">
                    <div class="check-icon"></div>
                    At least one uppercase letter
                </div>
                <div id="lowercase" class="checklist-item invalid">
                    <div class="check-icon"></div>
                    At least one lowercase letter
                </div>
                <div id="number" class="checklist-item invalid">
                    <div class="check-icon"></div>
                    At least one number
                </div>
                <div id="specialChar" class="checklist-item invalid">
                    <div class="check-icon"></div>
                    At least one special character (@$!%*?&)
                </div>
            </div>

            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="*********" required>

            <button type="submit">Reset Password</button>
        </form>
        <div id="message-container" class="alert d-none"></div>
        <div class="back-to-login">
            <img src="/static/images/back-icon.svg" alt="back icon" />
            <a href="/">Back to login</a>
        </div>
    </div>

</body>
</html>

